<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="This is where your description goes">
  <meta name="keywords" content="one, two, three">

  <title>To Do List</title>

  <!-- external CSS link -->
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
  <section class="paper">
    <section class="top">
      <h1>To Do List</h1>

      <main>

        <h2 class="directions">Please click your task item to cross it out, for it to be counted as completed </h2>
        <h2 class="totalDone">Total done: <span id="total"></span></h2>
    </section>

    <section class="addToDo">
      <input class="input" type="text" name="" placeholder="Please add to do items here." value="">
      <button class="addTaskButton"> Add Task </button>
    </section>

    <section class="content">
      <ul id="list">
        <% for(var i=0; i<listItemArray.length; i++) {%>
          <li class="<%= listItemArray[i].isCrossedOut %>" data-value="<%= listItemArray[i]._id %>"><%= listItemArray[i].listItem %> <i class="far fa-window-close" data-value="<%= listItemArray[i]._id %>"></i></li>
        <% } %>
      </ul>
    </section>

    <section class="deleteSec">
      <section class="clear">
        <button id="clear-all">Clear All</button>
      </section>

      <section class="deleteChecked">
        <button id="clear-all-completed" type="button" name="button">Clear Completed</button>
      </section>
    </section>

    </main>

  </section>


  <script type="text/javascript" src="main.js"></script>
  <script src="https://kit.fontawesome.com/0ea786f096.js" crossorigin="anonymous"></script>
</body>

</html>
